
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}


footer{
    padding: 32px 0px 32px 0px;
    background-color: black;
    width: 100%;
    bottom: 0;
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
    margin: 0px 310px 0px 310px;
}


.logo span {
    font-weight: 800;
    color: white;
} 

.information a{
    margin-right: 2rem;
    font-size: 14px;
    text-decoration: none;
    color: rgb(170, 169, 169);

}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(170, 169, 169);

}


